name: pypi

on:
    release:
        types: [created]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "18"
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.x"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install setuptools wheel twine build
                  npm install --legacy-peer-deps
            - name: Build and publish
              env:
                  TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
                  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
              run: |
                  python -m build
                  twine upload dist/*
